@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

.nav-link {
  color: rgb(188, 185, 185);
}

.navbar-nav .nav-link.active {
  color: aquamarine;
}

.navbar-brand img {
  margin-bottom: 4px;
  width: 60px;
}

.navbar-toggler {
  background-color: rgb(120, 117, 117);
}

body {
  background: linear-gradient(90deg, #032964 0%, hsl(242, 100%, 14%) 100%);
  font-family: Roboto, serif;
}

.card {
  color: rgb(191, 247, 228);
  background: linear-gradient(270deg, #2b5ca5 0%, hsl(242, 100%, 14%) 100%);
}

.sidebar {
  color: rgb(191, 247, 228);
  background: linear-gradient(270deg, #0e2f62 0%, hsl(242, 100%, 14%) 100%);
}

.card a {
  text-decoration: none;
  color: rgb(191, 247, 228);
}

.slide-text {
  color: rgb(191, 247, 228);
  margin: auto auto;
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

.footer-text {
  color: rgb(191, 247, 228);
}

footer {
  background: linear-gradient(270deg, #082b60 0%, hsl(242, 100%, 14%) 100%);
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
